body { font-family: Verdana, sans-serif; color: #2a3333; }
a, a:active, a:hover, a:focus { color: #008595; text-decoration: none; outline: none; }
.hidden { display:none; }
#events { margin: 0 0 1em; }
#events h2 { margin-top:0; }
#events li { background:#f4f4f4; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:block; padding:1em; list-style:none inside none; }
#events ul { margin-left:0; }

.streetview { width:500px; height:300px; }
.summary { font-size:1.3em; cursor:pointer; color: #EE2C74; }
.ui-dialog-vevent .summary { margin:0.5em 0 0 0; display:block; }
.ui-dialog-vevent .dtstart { display:none; }
.ui-dialog-vevent .website { margin:0 0 1em; }
abbr { border:none; }
#sidebar a.url { word-wrap: break-word; }
#sidebar { height:250px; width:200px; background:#f4f4f4; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0 0 20px #777; -webkit-box-shadow: 0 0 20px #777; border: 5px solid #fff; display:block; padding:1em; margin:1em; }
.multi-map-wrap { float:left; margin:0 0 0 10px; }
.multi-map { width:232px; height: 232px; margin: 0 0 10px; }
div.first {margin:0; }

a.buttonize{ background: #008595; display: inline-block; padding: 5px 10px 6px; color: #fff; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 2px 2px 5px #ccc; -webkit-box-shadow: 2px 2px 5px #ccc; text-shadow: 0 1px 1px #2A3333; position: relative; cursor: pointer; }
a.buttonize:hover	{ background-color: #2A3333; color: #fff; }
a.buttonize:active	{ top: 1px; }

.prettyprint { background:#f7f7f7; padding:1em; margin:0 0 1em; }
.syntaxhighlighter .gutter .line { border-right: 5px solid #dedede !important; }
.syntaxhighlighter .toolbar { background: #dedede !important; }
.syntaxhighlighter .line.alt2 { background-color: #f7f7f7 !important; }
.syntaxhighlighter .line.alt1 { background-color: #f7f7f7 !important; }

#hd { margin:0 0 1em; }
#ft { text-align:right; }
#map_canvas { width: 100%; height:700px; }

.gradient {
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
	background: -moz-linear-gradient(top, #fff, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)";
}
.shadow-all { 
	-moz-box-shadow: 0px 2px 4px #999;
	-webkit-box-shadow: 0px 2px 4px #999;
	box-shadow: 0px 2px 4px #999;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=160, Color='#999999')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=160, Color='#999999');*/
}
.item { padding:1em; margin:0 0 2em; }